backoff==1.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
Deprecated==1.2.13
Flask==2.0.2
googleapis-common-protos==1.54.0
grpcio==1.43.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
protobuf==3.19.2
requests==2.27.1
six==1.16.0
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.13.3
psycopg2==2.9.3
